<div class="container"><h1>Lecture Events</h1>
	<div class="container">
<div class="container">
    <div class="row">
        <div class="col-md-12"><div class="well">
            <ul>"Aristotle's Account of Techne (or 'Craft')", Sean Kelly, Dept. of Philosophy, Harvard University, May 13th, 3 p.m., Hedge 208<ul>   
        </div></div>
        <div class="col-md-12"><div class="well">
            <ul>"Arts on the Streets: The Polish Poster as Cultural Commentary", Beata Niedzialkowska, April 23rd, 6 p.m., Olin Arts Center, room 104<ul>    
        </div></div>
        <div class="col-md-12"><div class="well">
            <ul>"The Trouble With Cities in Silko's Ceremony", Carolyn Dekker, University of Michigan, April 3rd, 4:15 p.m., Hedge 106<ul>
        </div></div>
    </div>
</div>
<hr>