<div class="container"><h1>Varsity Events</h1>
	<div class="container">
<div class="container">
    <div class="row">
        <div class="col-md-12"><div class="well">
            <ul>Men's Soccer Game, May 15th, 2014, 7 p.m. Garcelon<ul>   
        </div></div>
        <div class="col-md-12"><div class="well">
            <ul>Women's Volleyball Game, May 20th, 2014, 6 p.m. Alumni Gym<ul>    
        </div></div>
        <div class="col-md-12"><div class="well">
            <ul>Baseball Game, May 23rd, 2014, 3 p.m., Leahey Baseball Field<ul>
        </div></div>
    </div>
</div>
<hr>